@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model bit285_assignment2_login.ViewModels.Login
@{
    Layout = "_Layout";
}
<h1>Login</h1>
<fieldset>
    <form asp-action="Index" method="post">
        <div>
            <label asp-for="UserName">Username (Email)</label>
            <input asp-for="UserName" />
            <span>* required</span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span>* required</span>
        </div>
        <div>
            <input type="submit" value="Login" />
            <input type="button" value="Reset" />
        </div>
    </form>
</fieldset>